<page-header [title]="'用户列表'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="venueName">用户名或手机号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.venueName" name="venueName" placeholder="请输入"s/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
      </div>

    </div>
  </form>

  <nz-table #editRowTable nzBordered [nzData]="listOfData" (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <thead>
      <tr>
        <th >用户名称</th>
        <th >真实姓名</th>
        <th >性别</th>
        <th >手机号</th>
        <th >地址</th>
        <th >等级</th>
        <th >胜率</th>
        <th >总场数</th>
        <th >金币</th>
        <th >信誉分</th>
        <th >操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <td>
          <ng-container>
            {{ data.nickName }}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.realName }}
          </ng-container>
        </td>

        <td>
          <ng-container>
            {{ data.realGender == 0? '无真实性别':  data.realGender == 1?'男' :'女' }}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.tel }}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.province+data.city}}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.levelCount }}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.winCount }}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.totalGame }}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{data.coinNum }}
          </ng-container>
        </td>

        <td>
          <ng-container>
            {{ data.reputation }}
          </ng-container>
        </td>

        <td>
          <div class="editable-row-operations">
            <ng-container>
              <a nz-popconfirm nzPopconfirmTitle="是否要删除此行？" (nzOnConfirm)="handleDel(data.id)">删除</a>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
