<page-header [title]="'场馆列表'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="venueName">场馆名称</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.venueName" name="venueName" placeholder="请输入"s/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button [nzType]="'primary'" (click)="openEdit()">
          <i nz-icon nzType="plus"></i>
          <span>新增</span>
        </button>
      </div>

    </div>
  </form>

  <nz-table #editRowTable nzBordered [nzData]="listOfData" (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <thead>
      <tr>
        <th nzWidth="15%">场馆名称</th>
        <th nzWidth="28%">场馆地址</th>
        <th nzWidth="10%">场馆均价</th>
        <th nzWidth="10%">场馆评分</th>
        <th nzWidth="10%">场馆图片</th>
        <th nzWidth="8%">经度</th>
        <th nzWidth="8%">纬度</th>
        <th nzWidth="30%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <td>
          <ng-container>
            {{ data.venueName }}
          </ng-container>
        </td>
        <td>
          <ng-container>
           {{ data.venueAddress}}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.avePrice }}
          </ng-container>
        </td>
        <td>
          <ng-container >
            {{ !!data.score?data.score:0 }}
          </ng-container>
        </td>

        <td>
          <ng-container>
           <img [src]="data.venueImg">
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.lng }}
          </ng-container>
        </td>
        <td>
          <ng-container>
            {{ data.lat }}
          </ng-container>
        </td>
        <td>
          <div class="editable-row-operations">
            <ng-container>
              <a (click)="handlePrice(data)">价格设置</a>
              <a (click)="openEdit(data)">编辑</a>
              <a  nz-popconfirm nzPopconfirmTitle="是否要删除此行？" (nzOnConfirm)="handleDel(data.id)">删除</a>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
